main{
    width: 100vw;
    height: 100vh;
}
nav{
    width: 100%;
    height: 64px;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--font-font-white);
}
.studyLogo{
    margin-left: 40px;
}
.studyLogo > span{
    font-family: 'SBAggroB';
    color: var(--primary-blue-200);
    font-size: var(--font-size-maximum);
    font-weight: var(--font-weight-700);
}
.studyList{
    font-family: 'SBAggroB';
    width: 40vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-midium);
    color: var(--font-font-200);
    margin-right: 100px;
}
.studyList > li:hover{
    color: var(--primary-blue-300);
}
.hamburger{
    font-size: var(--font-size-maximum);
    color: var(--primary-blue-300);
    display: none;
    margin-right: 40px;
}